body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

.square {
    background: #fff;
    color: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

.board-row:after {
    clear: both;
    content: "";
    display: table;
  }

form {
  border: thin solid #888;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}